body {
	text-align: center;
	color: white;
}

.billet{
	height: 100%;
	display: flex;
	flex-direction: column;
	filter: drop-shadow(5px 5px 5px black);
	font-family: arial;
}

form div {
width: 40%;
display: flex;
flex-direction: column;
min-height: 83px;
margin-top: 25px;
}

form div > label {
margin-bottom: 7px;
font-weight: 40px;
}

form div > input, form div > select, form div > textarea {
background: pink;
border: none;
border-radius: 5px;
font-size: 12px;
font-weight: 400px;
font-family: Arial;
box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
}

form div > input, form div > select {
height: 50px;
padding-left: 10px;
}

form div > select {
appearance: none;
background-size: 15px;
background-image: url("../images/fleche.png");
background-position: right 10px top 50%;
background-repeat: no-repeat;
}

form div:last-child{
align-items:center;
margin-top: 20px;
}

.button {
	background-color: pink;
	padding: 16px;
	color: white;
	font-size: 0.8rem;
	font-weight: bold;
	border-radius: 150px;
	display: block;
	width: 25%;
	transition: 1s;
	text-align: center;
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.button:hover{
	background-color: white;
	color: MediumVioletRed;
	transition: 1s;
}
