.btn-blue{
	background-color: pink;
	padding: 16px;
	color: white;
	font-weight: bold;
	border-radius: 150px;
	display: block;
	width: 25%;
	transition: 1s;
	text-align: center;
}

.btn-blue:hover{
	background-color: white;
	color: MediumVioletRed;
	transition: 1s;
}

